{% extends 'templates/base.html' %}
{% load static %}


{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block mainheader %}
{% endblock mainheader %}

{% block breadcrumb %}
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Product List</h3>
					<ul class="breadcrumb-tree">
						<li><a href="/">Home</a></li>
						<li class="active">Product List</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
{% endblock breadcrumb %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        
                        <th scope="col">ID </th>
                        <th scope="col">Name </th>
                        <th scope="col">Price </th>
                        <th scope="col">Description </th>
                        <th scope="col">Imagen </th>
                        <th scope="col">In Sock </th>

                        <th>Actions: <a href="/create-product" ><button class="btn btn-primary">Add</button></a></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for head in object_list %}
                        <tr>
                        <th scope="row">{{head.id}}</th>
                        <td><a href="/product-detail/{{head.id}}" >{{head.name}}</a></td>
                        <td>{{head.price}}</td>
                        <td>{% if head.description %}{{head.description}}{% endif %}</td>
                        <!-- <td>{% if head.code %}{{ head.code }}{% endif %}</td>
                        <td>{% if head.color %}{{ head.color }}{% endif %}</td>-->
                        <td>{% if head.img %}<img width="70px" height="70" src='{{head.img.url}}'>{% endif %}</td>
                        <td>{% if head.in_stock %}{{ head.in_stock }}{% endif %}</td>
                        <!-- <td>Category</td> -->
                            
                        <td><a href="/product-detail/{{head.id}}" ><button class="btn btn-info">Open</button></a>
                            <a href="/update-product/{{head.id}}" ><button class="btn btn-warning">Update</button></a>
                            <a href="/delete-product/{{head.id}}" ><button class="btn btn-danger">Delete</button></a></td>
                        </tr>
                        {% endfor %}
                </tbody>			
                {% include 'templates/paginator.html' %}				
            </table> 

                                

            
          
        </div>

    
    
    </div>
</div>


{% endblock content %}

