{% extends 'templates/base.html' %}
{% load static %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block mainheader %}
{% endblock mainheader %}

{% block breadcrumb %}
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Product Update</h3>
					<ul class="breadcrumb-tree">
						<li><a href="/product-list">Product List</a></li>
						<li class="active">Product Update</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
{% endblock breadcrumb %}

{% block content %}
{# Display a form #}
<div class="container">
    <div class="col-md-5 col-md-push-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <input type="submit" class="btn btn-info"  value="Save">
            <a href="/product-list"><input type="button" class="btn btn-outline-primary" value="Cancel"></a>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}