





.hide{
    display: none;
}


#background-invisible {
    z-index: 1000;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    top: 0;
    height: 300vh;
    width: 300vw;
}


#header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
    padding: 0px;
}

#top-header {
    top: 0px;
    margin-top: 0px;
    
}

@media screen and (max-width: 500px){
    #header{
        height: 10rem;
    }
    .header-search{
        display: none;
    }

    .headerTop{
        display: flex;
    }
}

@media screen and (max-width: 450px){
    .header-ctn{
        display: flex;
    }
}


